<div>
  <h2>Widgets</h2>
  <hr>

  <div *ngFor="let widget of widgets">
    <div [ngSwitch]="widget.name">
      <div *ngSwitchCase="'Heading'">
        <div [ngSwitch]="widget.size">
          <h1 *ngSwitchCase="'1'">{{widget.text}}</h1>
          <h2 *ngSwitchCase="'2'">{{widget.text}}</h2>
          <h3 *ngSwitchCase="'3'">{{widget.text}}</h3>
          <h4 *ngSwitchCase="'4'">{{widget.text}}</h4>
          <h5 *ngSwitchCase="'5'">{{widget.text}}</h5>
          <h6 *ngSwitchCase="'6'">{{widget.text}}</h6>
        </div>
        <hr>
      </div>
      <div *ngSwitchCase="'Link'">
        <a href="{{widget.href}}">{{widget.text}}</a>
        <hr>
      </div>
      <div *ngSwitchCase="'List'">
        <div [ngSwitch]="widget.listType">
          <ol *ngSwitchCase="1" class="list-group">
            <div class="container-fluid">
              <li class=""
                  *ngFor="let item of widget.listItems.split('\\\\n')">
                {{item}}
              </li>
            </div>

          </ol>

          <ul *ngSwitchCase="2" class="list-group">
            <li class="list-group-item"
                *ngFor="let item of widget.listItems.split('\\\\n')">
              {{item}}
            </li>
          </ul>
        <hr>
        </div>
      </div>
      <div *ngSwitchCase="'Paragraph'">
        <p>{{widget.text}}</p>
        <hr>
      </div>
      <div *ngSwitchCase="'Image'">
        <img src="{{widget.src}}" alt="{{widget.text}}"/>
        <hr>
      </div>
    </div>
  </div>
</div>
